
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link" routerLink="countries">Countries</a></li>
                    <li><a class="nav-link" routerLink="states">States</a></li>
                    <li><a class="nav-link" routerLink="users">Users</a></li>
                    <li><a class="nav-link" routerLink="addresses">Addresses</a></li>
                    <li><a class="nav-link" [routerLink]="['/logout','admin','1']">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="margin-top:50px">
            <router-outlet></router-outlet>
        </div>
        <hr />
        <footer>
            <p>&copy; My ASP.NET Application</p>
        </footer>
    </div>
</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />